ol {
  background: #c25959;
  padding: 20px;
}

ul {
  background: #000000;
  padding: 10px;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 31px;
}

ul li {
  background: #ffffff;
  margin: 5px;
}
